<!-- templates/includes/inc_section.html -->
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Магазин ЭКО продуктов</h1>
        <p class="lead text-body-secondary">Откройте для себя наши экопродукты.</p>
        <p>
          <a href="{% url 'catalog:products' %}" class="btn btn-outline-success">Каталог продуктов</a>
            <a href="{% url 'catalog:blog' %}" class="btn btn-outline-success">Наш блог</a>
        </p>
      </div>
    </div>
</section>