{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-bg-success mb-3">
                <div class="card-header bg-success text-white">
                    <h3 class="mb-10 text-center">Восстановить пароль</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-success">
                                Восстановить пароль
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-outline-danger" href="{% url 'catalog:products' %}" role="button">Отменить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}